{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sallqa Pacha</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css">
    <link rel="stylesheet" href="static/css/alternativo.css">
    
</head>
<body>
    
        

    </nav>
    <main id="fullpage">
        <header class="section header">
            <div class="contenedor-titulo">
                <h1 class="titulo">
                    <span class="texto-blanco">SALLQA PACHA</span>
                </h1>
                <p class="texto-blanco">El futuro no es desechable</p>
            </div>
            <div class="contenedor-icono">
                <p><a href="quienes somos" class="texto-blanco"><i class="fas fa-angle-double-down"></i></p>
            </div>
        
            <!-- VIDEO-->
            <video loop muted data-autoplay class="bg-video">
                <source src="https://images.app.goo.gl/yp7TrAv8krRXmoo5A" type="video/mp4">
            </video>
        </header>
        <section class="section">
            <h1>QUIÉNES SOMOS</h1>
        </section>
        <section class="section" >
            <h1>ODS</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus nihil veniam ducimus molestias fuga delectus ratione ab, porro, placeat error, maxime aperiam repudiandae? Vitae, deserunt? Voluptate aperiam eum illum dicta.</p>
        </ul>
            <li><a href="#">Pobreza</a>
                <ul>
                    <li><a href="#">Fin de la pobreza</a></li>
                    <li><a href="#">Hambre Cero</a></li>
                </ul>
            </li>

            <li><a href="#">Educación y Trabajo</a>
                <ul>
                    <li><a href="#">Educación de calidad</a></li>
                    <li><a href="#">Trabajo decente</a></li>
                    <li><a href="#">Industria</a></li>
                    <li><a href="#">No desigualdades</a></li>
                    <li><a href="#">Ciudades sostenibles</a></li>
                </ul>
            </li>

            <li><a href="#">Cambio Climático</a>
                <ul>
                    <li><a href="#">Energía no contaminante</a></li>
                    <li><a href="#">Producción y consumo responsable</a></li>
                    <li><a href="#">Acción por el clima</a></li>
                    <li><a href="#">Vida submarina</a></li>
                    <li><a href="#">Vida ecosistemas terrestres</a></li>
                </ul>
            </li>

            <li><a href="#">Comunidad</a>
                <ul>
                    <li><a href="#">Salud y Bienestar</a></li>
                    <li><a href="#">Igualdad de género</a></li>
                    <li><a href="#">Agua limpia</a></li>
                    <li><a href="#">Paz y justicia</a></li>
                </ul>
            </li>
        </section>
        <section class="section" >
            <h2>FOROS</h2>
        </section>
        <footer class="section">
            <li data-menuanchor="iniciar_sesion" class="active" >
                <a href="{% url 'app_iniciodesesion:boton_iniciodesesion' %}">Iniciar Sesión</a>
                <a href="{% url 'app_registrar:boton_registrar' %}">Registrar</a>
            </li>
        </footer>
       
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.js"></script>     
    <script src="static/js/alternativo.js"></script>
            <!------------>
            <nav>
                <div class="nav__perfil">
                    <h1 class="sallqa">Sallqa Pacha</h1>
                    <p></p>
                </div>
                    <ul>
                        <li><a href="#" >INICIO</a></li>
                        <li><a href="{% url 'app_nameforogeneral:boton_forogeneral' %}">Blog</a></li>
                        <li><a href="{% url 'app_acercade:boton_acercade' %}">Acerca De</a></li>
                        <li><a href="{% url 'app_objetivosonu:boton_objetivosONU' %}">Objetivos ONU</a>
            <!---->
                    </ul>
                <li><a href="#">Pobreza</a>
                    <ul>
                        <li><a href="#">Fin de la pobreza</a></li>
                        <li><a href="#">Hambre Cero</a></li>
                    </ul>
                </li>
        
                <li><a href="#">Educación y Trabajo</a>
                    <ul>
                        <li><a href="#">Educación de calidad</a></li>
                        <li><a href="#">Trabajo decente</a></li>
                        <li><a href="#">Industria</a></li>
                        <li><a href="#">No desigualdades</a></li>
                        <li><a href="#">Ciudades sostenibles</a></li>
                    </ul>
                </li>
        
                <li><a href="#">Cambio Climático</a>
                    <ul>
                        <li><a href="#">Energía no contaminante</a></li>
                        <li><a href="#">Producción y consumo responsable</a></li>
                        <li><a href="#">Acción por el clima</a></li>
                        <li><a href="#">Vida submarina</a></li>
                        <li><a href="#">Vida ecosistemas terrestres</a></li>
                    </ul>
                </li>
        
                <li><a href="#">Comunidad</a>
                    <ul>
                        <li><a href="#">Salud y Bienestar</a></li>
                        <li><a href="#">Igualdad de género</a></li>
                        <li><a href="#">Agua limpia</a></li>
                        <li><a href="#">Paz y justicia</a></li>
                    </ul>
                </li>
                   
                
                    <!---->


            <!-- ============== MENU NAV BAR DERECHA ===========-->
                <div>
                    <ul>
                        <li>
                            <a href="{% url 'app_iniciodesesion:boton_iniciodesesion' %}">Iniciar Sesión</a>
                            <hr>
                            <a href="{% url 'app_registrar:boton_registrar' %}">Registrar</a>
                        </li>
                    </ul>
                </div>
            </nav>
    <section class="section">
        <h1>OBJETIVOS</h1>
    </section>
    <footer class="section">
        <h1>FOOTER</h1>
    </footer>
           
    </header>

        {% block contenido %}


 
	    {% endblock contenido %}
    </main>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.js"></script>     
    <script src="static/js/alternativo.js"

    <!--------->
    
                <p class="texto-negro">SALLQA PACHA es una idea que nació de la necesidad de colaborar con un futuro para todos. Por lo tanto, y tomando palabras de la ONU: “Cada uno de los 17 ODS es un elemento constitutivo de la estructura mundial de paz. Resulta fundamental que movilicemos los medios necesarios para su aplicación, entre ellos, los recursos financieros, el diseño y la transferencia de tecnología y la creación de capacidad, así como el papel de las alianzas. Todos saldríamos beneficiados con ello, y cada uno de nosotros puede contribuir de alguna forma al respecto”.</p>
                <p>Te invitamos a que seas parte de este gran  sueño!</p>
            </div>
        </article>
        <article class="slide">
            <div class="informacion-responsables">
                <p class="texto-blanco">JUAN</p>
            </div>
        </article>
        <article class="slide">
            <div class="informacion-responsables">
                <p class="texto-blanco">FACU</p>
            </div>
        </article>
        <article class="slide">
            <div class="informacion-responsables">
                <p class="texto-blanco">FEDE</p>
            </div>
        </article>
        <article class="slide">
            <div class="informacion-responsables">
                <p class="texto-blanco">JOWY</p>
            </div>
        </article>
        <article class="slide">
            <div class="informacion-responsables">
                <p class="texto-blanco">DANY</p>
            </div>
        </article>
        <article class="slide">
            <div class="informacion-responsables">
                <p class="texto-blanco">BRAIAN</p>
            </div>
        </article>
        <article class="slide">
            <div class="informacion-responsables">
                <p class="texto-blanco">ADRIEL</p>
            </div>
        </article>
        <article class="slide">
            <div class="informacion-responsables">
                <p class="texto-blanco">SILVIA</p>
            </div>
        </article>
    </section>
    <!--------------->