{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>

	<img src="{% static 'img/logo.png' %}" class="image-menu">


	<div class="menu"> ACA VA A IR EL MENU </div> <br><br>

	<a href="{% url 'app_nameforogeneral:boton_forogeneral' %}">IR A FOROGENERAL----</a> <br><br><br>

	<a href="{% url 'app_acercade:boton_acercade' %}">A_CERCA_DE</a> <br><br><br>

	<a href="{% url 'app_iniciodesesion:boton_iniciodesesion' %}">INICIAR SESION </a> <br><br><br>

	<a href="{% url 'app_objetivosonu:boton_objetivosONU' %}">OBJETIVOS ONU</a> <br><br><br>

	<a href="{% url 'app_registrar:boton_registrar' %}">REGISTRAR</a> <br><br><br>






	{% block contenido %}


 
	{% endblock contenido %}


</body>

